<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" enctype="multipart/form-data" method="post">
        <input type="hidden" name="id" value="<%= student._id %>">
        <input type="text" name="name" value="<%= student.name %>">
        <input type="text" name="city" value="<%= student.city %>">
        <input type="text" name="subject" value="<%= student.subject %>">
        <input type="file" name="image" placeholder="file">
        <img src="<%= student.image %>" width="10%" alt="">
        <button type="submit">Update</button>
    </form>
</body>
</html>